/* i3-style power menu */
window {
    margin: 0px;
    border: 3px solid #285577;
    background-color: #222222;
    border-radius: 0px;
}

#input {
    margin: 0px;
    padding: 0px;
    border: none;
    opacity: 0;
    min-height: 0px;
}

#inner-box {
    margin: 0px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #222222;
    border-radius: 0px;
}

#outer-box {
    margin: 0px;
    border: 3px solid #4c7899;
    border-radius: 0px;
    background-color: #222222;
}

#scroll {
    margin: 0px;
    border: none;
    border-radius: 0px;
}

#text {
    margin: 0px;
    padding: 8px 12px;
    color: #ffffff;
}

#text:selected {
    color: #ffffff;
    background-color: #285577;
    border-radius: 0px;
    border-left: 3px solid #285577;
}

#entry {
    margin: 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px;
    border: none;
    border-left: 3px solid #4c7899;
    border-radius: 0px;
    background-color: #285577;
}
